/* 예적금 */
#con2{
    margin: 0 20% 0% 20%;
    text-align: left;
}

#con2 .title_txt{
    text-align: right;padding-top: 7.5%;
}
#con2 .sub_p{margin-top: 2%; font-size: 25px;}


#con2 .con2box{ margin-top: 5%;}
#con2 .con2box .imgbox{
    
    display: flex ; justify-content: space-between;
}
#con2 .con2box .imgbox img{
    width: 300px; height: 300px; 
    /* background-color: rgb(35, 119, 91);  */
    border-radius: 10px;    
} 
#con2 .con2box{ text-align: center;
    display: block ; justify-content: space-around; }
#con2 .con2box .but_box button{
    margin-top: 5%; margin-left: 5%;}


    /* 예적금 텍스트설정 */
    #con2 button{ width: 180px; height: 60px; border-radius: 12px;margin-top: 5%;}
    #con2 .con2_subbox1, .con2_subbox2 p{font-size: 25px;}
    #con2 .con2_subbox1 h1, .con2_subbox2 h1{font-size: 50px;}

    #con2 .con2_subbox1{margin-top: 13%;}
    #con2 .con2_subbox2{margin-top: 10%; text-align: right;}
